

@media (width >= 80em) {
  main .main-container {
    max-width: 33rem;
    margin-left: auto;
  }
  
   #app {
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
  }

  #mobile-only {
    display: none;
  }

}

#mobile-only {
  & header {
    padding-inline: 2rem;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;

    background-color: var(--surface-secondary);

    & img:nth-child(1) {
      padding-block: 1.5rem .75rem;
    }

    & img:nth-child(2) {
      padding-bottom: 2rem;
    }
  }
}

main {
  overflow: auto;
  padding: 4rem;


  & .back {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
  }

  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
  }

}

@media (width >= 80em) {

  aside .aside-container {
    max-width: 31rem;

    aside > img {
      margin-top: 2rem;
    }
  }
}
aside { 
  padding: 4rem;
  background-color: var(--surface-secondary);

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
  }

  & span {
    color: var(--text-highlight);
  }

}
@media (width < 80em) {
  aside {
    display: none;
  }

  main {
    padding: 1.5rem;
  }

  .flex {
    display: flex;
    flex-flow: row wrap;
  }

  .flex-1 {
    flex: auto;
    width: 100%;
  }
  .flex-2 {
    flex: auto;
    width: 100%;
  }
}